<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright 2017 Evgeny Timofeev

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.djonique.birdays"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BirdaysTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Firebase Messaging icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <!-- Fabric Crashlytics -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}" />

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/BirdaysTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DetailActivity -->
        <activity
            android:name=".activities.DetailActivity"
            android:label=""
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/BirdaysTheme.NoActionBar" />

        <!-- EditActivity -->
        <activity
            android:name=".activities.EditActivity"
            android:label="@string/editing_label"
            android:parentActivityName=".activities.DetailActivity"
            android:theme="@style/BirdaysTheme"
            android:windowSoftInputMode="stateHidden" />

        <!-- SettingsActivity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/BirdaysTheme" />

        <!-- HelpActivity-->
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/BirdaysTheme" />

        <!-- LicensesActivity -->
        <activity
            android:name=".activities.LicensesActivity"
            android:label="@string/licenses"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/BirdaysTheme" />

        <!-- AdActivity -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AlarmReceiver -->
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:process=":remote" />

        <!-- AlarmSetter -->
        <receiver android:name=".alarm.AlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- WidgetProvider-->
        <receiver
            android:name=".widget.WidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <!-- WidgetService -->
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>